<!DOCTYPE html>
<html>
<head>
	<title>Gap CSS Template</title>
    <link rel="stylesheet" href="_assets-custom/css/gap.min.css">
    <link rel="stylesheet" href="_assets-custom/css/styles.min.css">
</head>
<body>
    <!-- <header></header> -->
    <main>
        <section class="p-t-g p-lr-g">
            <h1>Gap CSS Template</h1>
        </section>
        <section class="p-qtr">
            <div class="cont p-qtr m-t-g">
                <div class="cont-in p-qtr">
                    <div class="cont-text p-qtr">
                        Gap G
                    </div>
                </div>
            </div>
            <div class="cont p-hlf m-t-g">
                <div class="cont-in p-hlf">
                    <div class="cont-text p-qtr">
                        Gap G
                    </div>
                </div>
            </div>
            <div class="cont p-g m-t-g">
                <div class="cont-in p-g">
                    <div class="cont-text p-qtr">
                        Gap G
                    </div>
                </div>
            </div>
            <div class="cont p-tb-dbl p-r-dbl p-l-g m-t-g">
                <div class="cont-in p-tb-dbl p-r-dbl p-l-g p-r-dbl">
                    <div class="cont-text p-qtr">
                        Gap DBL
                    </div>
                </div>
            </div>
            <div class="cont p-tb-trp p-r-trp p-l-g m-t-g">
                <div class="cont-in p-tb-trp p-r-trp p-l-g">
                    <div class="cont-text p-qtr">
                        Gap TRP
                    </div>
                </div>
            </div>
            <div class="cont p-tb-qad p-r-qad p-l-g m-t-g">
                <div class="cont-in p-tb-qad p-r-qad p-l-g">
                    <div class="cont-text p-qtr">
                        Gap QAD
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- <footer></footer> -->
    <script src="_assets-custom/js/main.min.js"></script>
</body>
</html>