/*Margin*/
.m-0 {margin: 0px !important;}
.m-t-0 {margin-top: 0px !important;}
.m-b-0 {margin-bottom: 0px !important;}
.m-l-0 {margin-left: 0px !important;}
.m-r-0 {margin-right: 0px !important;}
.m-tb-0 {margin-top: 0px !important; margin-bottom: 0px !important;}
.m-lr-0 {margin-left: 0px !important; margin-right: 0px !important;}

.m-gh {margin: 5px !important;}
.m-t-gh {margin-top: 5px !important;}
.m-b-gh {margin-bottom: 5px !important;}
.m-l-gh {margin-left: 5px !important;}
.m-r-gh {margin-right: 5px !important;}
.m-tb-gh {margin-top: 5px !important; margin-bottom: 5px !important;}
.m-lr-gh {margin-left: 5px !important; margin-right: 5px !important;}

.m-g {margin: 15px !important;}
.m-t-g {margin-top: 15px !important;}
.m-b-g {margin-bottom: 15px !important;}
.m-l-g {margin-left: 15px !important;}
.m-r-g {margin-right: 15px !important;}
.m-tb-g {margin-top: 15px !important; margin-bottom: 15px !important;}
.m-lr-g {margin-left: 15px !important; margin-right: 15px !important;}

.m-g2 {margin: 30px !important;}
.m-t-g2 {margin-top: 30px !important;}
.m-b-g2 {margin-bottom: 30px !important;}
.m-l-g2 {margin-left: 30px !important;}
.m-r-g2 {margin-right: 30px !important;}
.m-tb-g2 {margin-top: 30px !important; margin-bottom: 30px !important;}
.m-lr-g2 {margin-left: 30px !important; margin-right: 30px !important;}

.m-g3 {margin: 45px !important;}
.m-t-g3 {margin-top: 45px !important;}
.m-b-g3 {margin-bottom: 45px !important;}
.m-l-g3 {margin-left: 45px !important;}
.m-r-g3 {margin-right: 45px !important;}
.m-tb-g3 {margin-top: 45px !important; margin-bottom: 45px !important;}
.m-lr-g3 {margin-left: 45px !important; margin-right: 45px !important;}

.m-g4 {margin: 60px !important;}
.m-t-g4 {margin-top: 60px !important;}
.m-b-g4 {margin-bottom: 60px !important;}
.m-l-g4 {margin-left: 60px !important;}
.m-r-g4 {margin-right: 60px !important;}
.m-tb-g4 {margin-top: 60px !important; margin-bottom: 60px !important;}
.m-lr-g4 {margin-left: 60px !important; margin-right: 60px !important;}

.m-g5 {margin: 75px !important;}
.m-t-g5 {margin-top: 75px !important;}
.m-b-g5 {margin-bottom: 75px !important;}
.m-l-g5 {margin-left: 75px !important;}
.m-r-g5 {margin-right: 75px !important;}
.m-tb-g5 {margin-top: 75px !important; margin-bottom: 75px !important;}
.m-lr-g5 {margin-left: 75px !important; margin-right: 75px !important;}

.m-g6 {margin: 90px !important;}
.m-t-g6 {margin-top: 90px !important;}
.m-b-g6 {margin-bottom: 90px !important;}
.m-l-g6 {margin-left: 90px !important;}
.m-r-g6 {margin-right: 90px !important;}
.m-tb-g6 {margin-top: 90px !important; margin-bottom: 90px !important;}
.m-lr-g6 {margin-left: 90px !important; margin-right: 90px !important;}

@media only screen and (max-width: 640px) {

.m-0 {margin: 0px !important;}
.m-t-0 {margin-top: 0px !important;}
.m-b-0 {margin-bottom: 0px !important;}
.m-l-0 {margin-left: 0px !important;}
.m-r-0 {margin-right: 0px !important;}
.m-tb-0 {margin-top: 0px !important; margin-bottom: 0px !important;}
.m-lr-0 {margin-left: 0px !important; margin-right: 0px !important;}

.m-gh {margin: 5px !important;}
.m-t-gh {margin-top: 5px !important;}
.m-b-gh {margin-bottom: 5px !important;}
.m-l-gh {margin-left: 5px !important;}
.m-r-gh {margin-right: 5px !important;}
.m-tb-gh {margin-top: 5px !important; margin-bottom: 5px !important;}
.m-lr-gh {margin-left: 5px !important; margin-right: 5px !important;}

.m-g {margin: 5px !important;}
.m-t-g {margin-top: 5px !important;}
.m-b-g {margin-bottom: 5px !important;}
.m-l-g {margin-left: 5px !important;}
.m-r-g {margin-right: 5px !important;}
.m-tb-g {margin-top: 5px !important; margin-bottom: 5px !important;}
.m-lr-g {margin-left: 5px !important; margin-right: 5px !important;}

.m-g2 {margin: 15px !important;}
.m-t-g2 {margin-top: 15px !important;}
.m-b-g2 {margin-bottom: 15px !important;}
.m-l-g2 {margin-left: 15px !important;}
.m-r-g2 {margin-right: 15px !important;}
.m-tb-g2 {margin-top: 15px !important; margin-bottom: 15px !important;}
.m-lr-g2 {margin-left: 15px !important; margin-right: 15px !important;}

.m-g3 {margin: 30px !important;}
.m-t-g3 {margin-top: 30px !important;}
.m-b-g3 {margin-bottom: 30px !important;}
.m-l-g3 {margin-left: 30px !important;}
.m-r-g3 {margin-right: 30px !important;}
.m-tb-g3 {margin-top: 30px !important; margin-bottom: 30px !important;}
.m-lr-g3 {margin-left: 30px !important; margin-right: 30px !important;}

.m-g4 {margin: 45px !important;}
.m-t-g4 {margin-top: 45px !important;}
.m-b-g4 {margin-bottom: 45px !important;}
.m-l-g4 {margin-left: 45px !important;}
.m-r-g4 {margin-right: 45px !important;}
.m-tb-g4 {margin-top: 45px !important; margin-bottom: 45px !important;}
.m-lr-g4 {margin-left: 45px !important; margin-right: 45px !important;}

.m-g5 {margin: 60px !important;}
.m-t-g5 {margin-top: 60px !important;}
.m-b-g5 {margin-bottom: 60px !important;}
.m-l-g5 {margin-left: 60px !important;}
.m-r-g5 {margin-right: 60px !important;}
.m-tb-g5 {margin-top: 60px !important; margin-bottom: 60px !important;}
.m-lr-g5 {margin-left: 60px !important; margin-right: 60px !important;}

.m-g6 {margin: 75px !important;}
.m-t-g6 {margin-top: 75px !important;}
.m-b-g6 {margin-bottom: 75px !important;}
.m-l-g6 {margin-left: 75px !important;}
.m-r-g6 {margin-right: 75px !important;}
.m-tb-g6 {margin-top: 75px !important; margin-bottom: 75px !important;}
.m-lr-g6 {margin-left: 75px !important; margin-right: 75px !important;}

}

/*Margins Mobile*/
@media only screen and (max-width: 640px) {

.mob-m-0 {margin: 0px !important;}
.mob-m-t-0 {margin-top: 0px !important;}
.mob-m-b-0 {margin-bottom: 0px !important;}
.mob-m-l-0 {margin-left: 0px !important;}
.mob-m-r-0 {margin-right: 0px !important;}
.mob-m-tb-0 {margin-top: 0px !important; margin-bottom: 0px !important;}
.mob-m-lr-0 {margin-left: 0px !important; margin-right: 0px !important;}

.mob-m-gh {margin: 5px !important;}
.mob-m-t-gh {margin-top: 5px !important;}
.mob-m-b-gh {margin-bottom: 5px !important;}
.mob-m-l-gh {margin-left: 5px !important;}
.mob-m-r-gh {margin-right: 5px !important;}
.mob-m-tb-gh {margin-top: 5px !important; margin-bottom: 5px !important;}
.mob-m-lr-gh {margin-left: 5px !important; margin-right: 5px !important;}

.mob-m-g {margin: 5px !important;}
.mob-m-t-g {margin-top: 5px !important;}
.mob-m-b-g {margin-bottom: 5px !important;}
.mob-m-l-g {margin-left: 5px !important;}
.mob-m-r-g {margin-right: 5px !important;}
.mob-m-tb-g {margin-top: 5px !important; margin-bottom: 5px !important;}
.mob-m-lr-g {margin-left: 5px !important; margin-right: 5px !important;}

.mob-m-g2 {margin: 15px !important;}
.mob-m-t-g2 {margin-top: 15px !important;}
.mob-m-b-g2 {margin-bottom: 15px !important;}
.mob-m-l-g2 {margin-left: 15px !important;}
.mob-m-r-g2 {margin-right: 15px !important;}
.mob-m-tb-g2 {margin-top: 15px !important; margin-bottom: 15px !important;}
.mob-m-lr-g2 {margin-left: 15px !important; margin-right: 15px !important;}

.mob-m-g3 {margin: 30px !important;}
.mob-m-t-g3 {margin-top: 30px !important;}
.mob-m-b-g3 {margin-bottom: 30px !important;}
.mob-m-l-g3 {margin-left: 30px !important;}
.mob-m-r-g3 {margin-right: 30px !important;}
.mob-m-tb-g3 {margin-top: 30px !important; margin-bottom: 30px !important;}
.mob-m-lr-g3 {margin-left: 30px !important; margin-right: 30px !important;}

.mob-m-g4 {margin: 45px !important;}
.mob-m-t-g4 {margin-top: 45px !important;}
.mob-m-b-g4 {margin-bottom: 45px !important;}
.mob-m-l-g4 {margin-left: 45px !important;}
.mob-m-r-g4 {margin-right: 45px !important;}
.mob-m-tb-g4 {margin-top: 45px !important; margin-bottom: 45px !important;}
.mob-m-lr-g4 {margin-left: 45px !important; margin-right: 45px !important;}

.mob-m-g5 {margin: 60px !important;}
.mob-m-t-g5 {margin-top: 60px !important;}
.mob-m-b-g5 {margin-bottom: 60px !important;}
.mob-m-l-g5 {margin-left: 60px !important;}
.mob-m-r-g5 {margin-right: 60px !important;}
.mob-m-tb-g5 {margin-top: 60px !important; margin-bottom: 60px !important;}
.mob-m-lr-g5 {margin-left: 60px !important; margin-right: 60px !important;}

.mob-m-g6 {margin: 75px !important;}
.mob-m-t-g6 {margin-top: 75px !important;}
.mob-m-b-g6 {margin-bottom: 75px !important;}
.mob-m-l-g6 {margin-left: 75px !important;}
.mob-m-r-g6 {margin-right: 75px !important;}
.mob-m-tb-g6 {margin-top: 75px !important; margin-bottom: 75px !important;}
.mob-m-lr-g6 {margin-left: 75px !important; margin-right: 75px !important;}

}

/*Padding*/ 
.p-0 {padding: 0px !important;}
.p-t-0 {padding-top: 0px !important;}
.p-b-0 {padding-bottom: 0px !important;}
.p-l-0 {padding-left: 0px !important;}
.p-r-0 {padding-right: 0px !important;}
.p-tb-0 {padding-top: 0px !important; padding-bottom: 0px !important;}
.p-lr-0 {padding-left: 0px !important; padding-right: 0px !important;}

.p-gh {padding: 5px !important;}
.p-t-gh {padding-top: 5px !important;}
.p-b-gh {padding-bottom: 5px !important;}
.p-l-gh {padding-left: 5px !important;}
.p-r-gh {padding-right: 5px !important;}
.p-tb-gh {padding-top: 5px !important; padding-bottom: 5px !important;}
.p-lr-gh {padding-left: 5px !important; padding-right: 5px !important;}

.p-g {padding: 15px !important;}
.p-t-g {padding-top: 15px !important;}
.p-b-g {padding-bottom: 15px !important;}
.p-l-g {padding-left: 15px !important;}
.p-r-g {padding-right: 15px !important;}
.p-tb-g {padding-top: 15px !important; padding-bottom: 15px !important;}
.p-lr-g {padding-left: 15px !important; padding-right: 15px !important;}

.p-g2 {padding: 30px !important;}
.p-t-g2 {padding-top: 30px !important;}
.p-b-g2 {padding-bottom: 30px !important;}
.p-l-g2 {padding-left: 30px !important;}
.p-r-g2 {padding-right: 30px !important;}
.p-tb-g2 {padding-top: 30px !important; padding-bottom: 30px !important;}
.p-lr-g2 {padding-left: 30px !important; padding-right: 30px !important;}

.p-g3 {padding: 45px !important;}
.p-t-g3 {padding-top: 45px !important;}
.p-b-g3 {padding-bottom: 45px !important;}
.p-l-g3 {padding-left: 45px !important;}
.p-r-g3 {padding-right: 45px !important;}
.p-tb-g3 {padding-top: 45px !important; padding-bottom: 45px !important;}
.p-lr-g3 {padding-left: 45px !important; padding-right: 45px !important;}

.p-g4 {padding: 60px !important;}
.p-t-g4 {padding-top: 60px !important;}
.p-b-g4 {padding-bottom: 60px !important;}
.p-l-g4 {padding-left: 60px !important;}
.p-r-g4 {padding-right: 60px !important;}
.p-tb-g4 {padding-top: 60px !important; padding-bottom: 60px !important;}
.p-lr-g4 {padding-left: 60px !important; padding-right: 60px !important;}

.p-g5 {padding: 75px !important;}
.p-t-g5 {padding-top: 75px !important;}
.p-b-g5 {padding-bottom: 75px !important;}
.p-l-g5 {padding-left: 75px !important;}
.p-r-g5 {padding-right: 75px !important;}
.p-tb-g5 {padding-top: 75px !important; padding-bottom: 75px !important;}
.p-lr-g5 {padding-left: 75px !important; padding-right: 75px !important;}

.p-g6 {padding: 90px !important;}
.p-t-g6 {padding-top: 90px !important;}
.p-b-g6 {padding-bottom: 90px !important;}
.p-l-g6 {padding-left: 90px !important;}
.p-r-g6 {padding-right: 90px !important;}
.p-tb-g6 {padding-top: 90px !important; padding-bottom: 90px !important;}
.p-lr-g6 {padding-left: 90px !important; padding-right: 90px !important;}

@media only screen and (max-width: 640px) {

.p-0 {padding: 0px !important;}
.p-t-0 {padding-top: 0px !important;}
.p-b-0 {padding-bottom: 0px !important;}
.p-l-0 {padding-left: 0px !important;}
.p-r-0 {padding-right: 0px !important;}
.p-tb-0 {padding-top: 0px !important; padding-bottom: 0px !important;}
.p-lr-0 {padding-left: 0px !important; padding-right: 0px !important;}

.p-gh {padding: 5px !important;}
.p-t-gh {padding-top: 5px !important;}
.p-b-gh {padding-bottom: 5px !important;}
.p-l-gh {padding-left: 5px !important;}
.p-r-gh {padding-right: 5px !important;}
.p-tb-gh {padding-top: 5px !important; padding-bottom: 5px !important;}
.p-lr-gh {padding-left: 5px !important; padding-right: 5px !important;}

.p-g {padding: 5px !important;}
.p-t-g {padding-top: 5px !important;}
.p-b-g {padding-bottom: 5px !important;}
.p-l-g {padding-left: 5px !important;}
.p-r-g {padding-right: 5px !important;}
.p-tb-g {padding-top: 5px !important; padding-bottom: 5px !important;}
.p-lr-g {padding-left: 5px !important; padding-right: 5px !important;}

.p-g2 {padding: 15px !important;}
.p-t-g2 {padding-top: 15px !important;}
.p-b-g2 {padding-bottom: 15px !important;}
.p-l-g2 {padding-left: 15px !important;}
.p-r-g2 {padding-right: 15px !important;}
.p-tb-g2 {padding-top: 15px !important; padding-bottom: 15px !important;}
.p-lr-g2 {padding-left: 15px !important; padding-right: 15px !important;}

.p-g3 {padding: 30px !important;}
.p-t-g3 {padding-top: 30px !important;}
.p-b-g3 {padding-bottom: 30px !important;}
.p-l-g3 {padding-left: 30px !important;}
.p-r-g3 {padding-right: 30px !important;}
.p-tb-g3 {padding-top: 30px !important; padding-bottom: 30px !important;}
.p-lr-g3 {padding-left: 30px !important; padding-right: 30px !important;}

.p-g4 {padding: 45px !important;}
.p-t-g4 {padding-top: 45px !important;}
.p-b-g4 {padding-bottom: 45px !important;}
.p-l-g4 {padding-left: 45px !important;}
.p-r-g4 {padding-right: 45px !important;}
.p-tb-g4 {padding-top: 45px !important; padding-bottom: 45px !important;}
.p-lr-g4 {padding-left: 45px !important; padding-right: 45px !important;}

.p-g5 {padding: 60px !important;}
.p-t-g5 {padding-top: 60px !important;}
.p-b-g5 {padding-bottom: 60px !important;}
.p-l-g5 {padding-left: 60px !important;}
.p-r-g5 {padding-right: 60px !important;}
.p-tb-g5 {padding-top: 60px !important; padding-bottom: 60px !important;}
.p-lr-g5 {padding-left: 60px !important; padding-right: 60px !important;}

.p-g6 {padding: 75px !important;}
.p-t-g6 {padding-top: 75px !important;}
.p-b-g6 {padding-bottom: 75px !important;}
.p-l-g6 {padding-left: 75px !important;}
.p-r-g6 {padding-right: 75px !important;}
.p-tb-g6 {padding-top: 75px !important; padding-bottom: 75px !important;}
.p-lr-g6 {padding-left: 75px !important; padding-right: 75px !important;}

}
/*Padding Mobile*/
@media only screen and (max-width: 640px) {

.mob-p-0 {padding: 0px !important;}
.mob-p-t-0 {padding-top: 0px !important;}
.mob-p-b-0 {padding-bottom: 0px !important;}
.mob-p-l-0 {padding-left: 0px !important;}
.mob-p-r-0 {padding-right: 0px !important;}
.mob-p-tb-0 {padding-top: 0px !important; padding-bottom: 0px !important;}
.mob-p-lr-0 {padding-left: 0px !important; padding-right: 0px !important;}

.mob-p-gh {padding: 5px !important;}
.mob-p-t-gh {padding-top: 5px !important;}
.mob-p-b-gh {padding-bottom: 5px !important;}
.mob-p-l-gh {padding-left: 5px !important;}
.mob-p-r-gh {padding-right: 5px !important;}
.mob-p-tb-gh {padding-top: 5px !important; padding-bottom: 5px !important;}
.mob-p-lr-gh {padding-left: 5px !important; padding-right: 5px !important;}

.mob-p-g {padding: 5px !important;}
.mob-p-t-g {padding-top: 5px !important;}
.mob-p-b-g {padding-bottom: 5px !important;}
.mob-p-l-g {padding-left: 5px !important;}
.mob-p-r-g {padding-right: 5px !important;}
.mob-p-tb-g {padding-top: 5px !important; padding-bottom: 5px !important;}
.mob-p-lr-g {padding-left: 5px !important; padding-right: 5px !important;}

.mob-p-g2 {padding: 15px !important;}
.mob-p-t-g2 {padding-top: 15px !important;}
.mob-p-b-g2 {padding-bottom: 15px !important;}
.mob-p-l-g2 {padding-left: 15px !important;}
.mob-p-r-g2 {padding-right: 15px !important;}
.mob-p-tb-g2 {padding-top: 15px !important; padding-bottom: 15px !important;}
.mob-p-lr-g2 {padding-left: 15px !important; padding-right: 15px !important;}

.mob-p-g3 {padding: 30px !important;}
.mob-p-t-g3 {padding-top: 30px !important;}
.mob-p-b-g3 {padding-bottom: 30px !important;}
.mob-p-l-g3 {padding-left: 30px !important;}
.mob-p-r-g3 {padding-right: 30px !important;}
.mob-p-tb-g3 {padding-top: 30px !important; padding-bottom: 30px !important;}
.mob-p-lr-g3 {padding-left: 30px !important; padding-right: 30px !important;}

.mob-p-g4 {padding: 45px !important;}
.mob-p-t-g4 {padding-top: 45px !important;}
.mob-p-b-g4 {padding-bottom: 45px !important;}
.mob-p-l-g4 {padding-left: 45px !important;}
.mob-p-r-g4 {padding-right: 45px !important;}
.mob-p-tb-g4 {padding-top: 45px !important; padding-bottom: 45px !important;}
.mob-p-lr-g4 {padding-left: 45px !important; padding-right: 45px !important;}

.mob-p-g5 {padding: 60px !important;}
.mob-p-t-g5 {padding-top: 60px !important;}
.mob-p-b-g5 {padding-bottom: 60px !important;}
.mob-p-l-g5 {padding-left: 60px !important;}
.mob-p-r-g5 {padding-right: 60px !important;}
.mob-p-tb-g5 {padding-top: 60px !important; padding-bottom: 60px !important;}
.mob-p-lr-g5 {padding-left: 60px !important; padding-right: 60px !important;}

.mob-p-g6 {padding: 75px !important;}
.mob-p-t-g6 {padding-top: 75px !important;}
.mob-p-b-g6 {padding-bottom: 75px !important;}
.mob-p-l-g6 {padding-left: 75px !important;}
.mob-p-r-g6 {padding-right: 75px !important;}
.mob-p-tb-g6 {padding-top: 75px !important; padding-bottom: 75px !important;}
.mob-p-lr-g6 {padding-left: 75px !important; padding-right: 75px !important;}

}
