.m-0 { margin: 0px !important; } 
.m-t-0 { margin-top: 0px !important; } 
.m-b-0 { margin-bottom: 0px !important; } 
.m-l-0 { margin-left: 0px !important; } 
.m-r-0 { margin-right: 0px !important; } 
.m-tb-0 { margin-top: 0px !important; margin-bottom: 0px !important; } 
.m-lr-0 { margin-left: 0px !important; margin-right: 0px !important; } 

.m-5 { margin: 5px !important; } 
.m-t-5 { margin-top: 5px !important; } 
.m-b-5 { margin-bottom: 5px !important; } 
.m-l-5 { margin-left: 5px !important; } 
.m-r-5 { margin-right: 5px !important; } 
.m-tb-5 { margin-top: 5px !important; margin-bottom: 5px !important; } 
.m-lr-5 { margin-left: 5px !important; margin-right: 5px !important; } 

.m-qtr { margin: 7.5px !important; } 
.m-t-qtr { margin-top: 7.5px !important; } 
.m-b-qtr { margin-bottom: 7.5px !important; } 
.m-l-qtr { margin-left: 7.5px !important; } 
.m-r-qtr { margin-right: 7.5px !important; } 
.m-tb-qtr { margin-top: 7.5px !important; margin-bottom: 7.5px !important; } 
.m-lr-qtr { margin-left: 7.5px !important; margin-right: 7.5px !important; } 

.m-hlf { margin: 15px !important; } 
.m-t-hlf { margin-top: 15px !important; } 
.m-b-hlf { margin-bottom: 15px !important; } 
.m-l-hlf { margin-left: 15px !important; } 
.m-r-hlf { margin-right: 15px !important; } 
.m-tb-hlf { margin-top: 15px !important; margin-bottom: 15px !important; } 
.m-lr-hlf { margin-left: 15px !important; margin-right: 15px !important; } 

.m-g { margin: 30px !important; } 
.m-t-g { margin-top: 30px !important; } 
.m-b-g { margin-bottom: 30px !important; } 
.m-l-g { margin-left: 30px !important; } 
.m-r-g { margin-right: 30px !important; } 
.m-tb-g { margin-top: 30px !important; margin-bottom: 30px !important; } 
.m-lr-g { margin-left: 30px !important; margin-right: 30px !important; } 

.m-dbl { margin: 60px !important; } 
.m-t-dbl { margin-top: 60px !important; } 
.m-b-dbl { margin-bottom: 60px !important; } 
.m-l-dbl { margin-left: 60px !important; } 
.m-r-dbl { margin-right: 60px !important; } 
.m-tb-dbl { margin-top: 60px !important; margin-bottom: 60px !important; } 
.m-lr-dbl { margin-left: 60px !important; margin-right: 60px !important; } 

.m-trp { margin: 90px !important; } 
.m-t-trp { margin-top: 90px !important; } 
.m-b-trp { margin-bottom: 90px !important; } 
.m-l-trp { margin-left: 90px !important; } 
.m-r-trp { margin-right: 90px !important; } 
.m-tb-trp { margin-top: 90px !important; margin-bottom: 90px !important; } 
.m-lr-trp { margin-left: 90px !important; margin-right: 90px !important; } 

.m-qad { margin: 120px !important; } 
.m-t-qad { margin-top: 120px !important; } 
.m-b-qad { margin-bottom: 120px !important; } 
.m-l-qad { margin-left: 120px !important; } 
.m-r-qad { margin-right: 120px !important; } 
.m-tb-qad { margin-top: 120px !important; margin-bottom: 120px !important; } 
.m-lr-qad { margin-left: 120px !important; margin-right: 120px !important; } 

@media only screen and (max-width: 640px) {

.m-0 { margin: 0px !important; } 
.m-t-0 { margin-top: 0px !important; } 
.m-b-0 { margin-bottom: 0px !important; } 
.m-l-0 { margin-left: 0px !important; } 
.m-r-0 { margin-right: 0px !important; } 
.m-tb-0 { margin-top: 0px !important; margin-bottom: 0px !important; } 
.m-lr-0 { margin-left: 0px !important; margin-right: 0px !important; } 

.m-5 { margin: 5px !important; } 
.m-t-5 { margin-top: 5px !important; } 
.m-b-5 { margin-bottom: 5px !important; } 
.m-l-5 { margin-left: 5px !important; } 
.m-r-5 { margin-right: 5px !important; } 
.m-tb-5 { margin-top: 5px !important; margin-bottom: 5px !important; } 
.m-lr-5 { margin-left: 5px !important; margin-right: 5px !important; } 

.m-qtr { margin: 7.5px !important; } 
.m-t-qtr { margin-top: 7.5px !important; } 
.m-b-qtr { margin-bottom: 7.5px !important; } 
.m-l-qtr { margin-left: 7.5px !important; } 
.m-r-qtr { margin-right: 7.5px !important; } 
.m-tb-qtr { margin-top: 7.5px !important; margin-bottom: 7.5px !important; } 
.m-lr-qtr { margin-left: 7.5px !important; margin-right: 7.5px !important; } 

.m-hlf { margin: 7.5px !important; } 
.m-t-hlf { margin-top: 7.5px !important; } 
.m-b-hlf { margin-bottom: 7.5px !important; } 
.m-l-hlf { margin-left: 7.5px !important; } 
.m-r-hlf { margin-right: 7.5px !important; } 
.m-tb-hlf { margin-top: 7.5px !important; margin-bottom: 7.5px !important; } 
.m-lr-hlf { margin-left: 7.5px !important; margin-right: 7.5px !important; } 

.m-g { margin: 15px !important; } 
.m-t-g { margin-top: 15px !important; } 
.m-b-g { margin-bottom: 15px !important; } 
.m-l-g { margin-left: 15px !important; } 
.m-r-g { margin-right: 15px !important; } 
.m-tb-g { margin-top: 15px !important; margin-bottom: 15px !important; } 
.m-lr-g { margin-left: 15px !important; margin-right: 15px !important; } 

.m-dbl { margin: 30px !important; } 
.m-t-dbl { margin-top: 30px !important; } 
.m-b-dbl { margin-bottom: 30px !important; } 
.m-l-dbl { margin-left: 30px !important; } 
.m-r-dbl { margin-right: 30px !important; } 
.m-tb-dbl { margin-top: 30px !important; margin-bottom: 30px !important; } 
.m-lr-dbl { margin-left: 30px !important; margin-right: 30px !important; } 

.m-trp { margin: 60px !important; } 
.m-t-trp { margin-top: 60px !important; } 
.m-b-trp { margin-bottom: 60px !important; } 
.m-l-trp { margin-left: 60px !important; } 
.m-r-trp { margin-right: 60px !important; } 
.m-tb-trp { margin-top: 60px !important; margin-bottom: 60px !important; } 
.m-lr-trp { margin-left: 60px !important; margin-right: 60px !important; } 

.m-qad { margin: 90px !important; } 
.m-t-qad { margin-top: 90px !important; } 
.m-b-qad { margin-bottom: 90px !important; } 
.m-l-qad { margin-left: 90px !important; } 
.m-r-qad { margin-right: 90px !important; } 
.m-tb-qad { margin-top: 90px !important; margin-bottom: 90px !important; } 
.m-lr-qad { margin-left: 90px !important; margin-right: 90px !important; } 

.mob-m-0 { margin: 0px !important; } 
.mob-m-t-0 { margin-top: 0px !important; } 
.mob-m-b-0 { margin-bottom: 0px !important; } 
.mob-m-l-0 { margin-left: 0px !important; } 
.mob-m-r-0 { margin-right: 0px !important; } 
.mob-m-tb-0 { margin-top: 0px !important; margin-bottom: 0px !important; } 
.mob-m-lr-0 { margin-left: 0px !important; margin-right: 0px !important; } 

.mob-m-5 { margin: 5px !important; } 
.mob-m-t-5 { margin-top: 5px !important; } 
.mob-m-b-5 { margin-bottom: 5px !important; } 
.mob-m-l-5 { margin-left: 5px !important; } 
.mob-m-r-5 { margin-right: 5px !important; } 
.mob-m-tb-5 { margin-top: 5px !important; margin-bottom: 5px !important; } 
.mob-m-lr-5 { margin-left: 5px !important; margin-right: 5px !important; } 

.mob-m-qtr { margin: 7.5px !important; } 
.mob-m-t-qtr { margin-top: 7.5px !important; } 
.mob-m-b-qtr { margin-bottom: 7.5px !important; } 
.mob-m-l-qtr { margin-left: 7.5px !important; } 
.mob-m-r-qtr { margin-right: 7.5px !important; } 
.mob-m-tb-qtr { margin-top: 7.5px !important; margin-bottom: 7.5px !important; } 
.mob-m-lr-qtr { margin-left: 7.5px !important; margin-right: 7.5px !important; } 

.mob-m-hlf { margin: 7.5px !important; } 
.mob-m-t-hlf { margin-top: 7.5px !important; } 
.mob-m-b-hlf { margin-bottom: 7.5px !important; } 
.mob-m-l-hlf { margin-left: 7.5px !important; } 
.mob-m-r-hlf { margin-right: 7.5px !important; } 
.mob-m-tb-hlf { margin-top: 7.5px !important; margin-bottom: 7.5px !important; } 
.mob-m-lr-hlf { margin-left: 7.5px !important; margin-right: 7.5px !important; } 

.mob-m-g { margin: 15px !important; } 
.mob-m-t-g { margin-top: 15px !important; } 
.mob-m-b-g { margin-bottom: 15px !important; } 
.mob-m-l-g { margin-left: 15px !important; } 
.mob-m-r-g { margin-right: 15px !important; } 
.mob-m-tb-g { margin-top: 15px !important; margin-bottom: 15px !important; } 
.mob-m-lr-g { margin-left: 15px !important; margin-right: 15px !important; } 

.mob-m-dbl { margin: 30px !important; } 
.mob-m-t-dbl { margin-top: 30px !important; } 
.mob-m-b-dbl { margin-bottom: 30px !important; } 
.mob-m-l-dbl { margin-left: 30px !important; } 
.mob-m-r-dbl { margin-right: 30px !important; } 
.mob-m-tb-dbl { margin-top: 30px !important; margin-bottom: 30px !important; } 
.mob-m-lr-dbl { margin-left: 30px !important; margin-right: 30px !important; } 

.mob-m-trp { margin: 60px !important; } 
.mob-m-t-trp { margin-top: 60px !important; } 
.mob-m-b-trp { margin-bottom: 60px !important; } 
.mob-m-l-trp { margin-left: 60px !important; } 
.mob-m-r-trp { margin-right: 60px !important; } 
.mob-m-tb-trp { margin-top: 60px !important; margin-bottom: 60px !important; } 
.mob-m-lr-trp { margin-left: 60px !important; margin-right: 60px !important; } 

.mob-m-qad { margin: 90px !important; } 
.mob-m-t-qad { margin-top: 90px !important; } 
.mob-m-b-qad { margin-bottom: 90px !important; } 
.mob-m-l-qad { margin-left: 90px !important; } 
.mob-m-r-qad { margin-right: 90px !important; } 
.mob-m-tb-qad { margin-top: 90px !important; margin-bottom: 90px !important; } 
.mob-m-lr-qad { margin-left: 90px !important; margin-right: 90px !important; } 

}

